################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstApp/FirstApp/obj
/.vs
/FirstApp/.vs/FirstApp/v16
